label
{
    margin-bottom: 10px;
    font-size: 12pt;
    color: #0d6efd;
}


.custom-alert {
  position: relative;
  animation: slidein 0.5s ease-in-out;
  /*animation-delay: 1s;*/
}

@keyframes slidein {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}



.cursor-pointer
{
  cursor: pointer; 
}

.success-message {
  position: fixed;
  top: 10px;
  left: -300px;
  width: 300px;
  background-color: #28a745;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  animation: slidein 0.5s ease-in-out;
}

.success-message i {
  font-size: 24px;
  margin-right: 10px;
}

.success-message span {
  font-size: 16px;
  font-weight: 600;
}

@keyframes slide-in {
   from {
    right: -100%;
  }

  to {
    right: 0;
  }
}




.alert-message {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.success {
  background-color: #28a745;
  color: #fff;
}

.danger {
  background-color: #dc3545;
  color: #fff;
}

.warning {
  background-color: #ffc107;
  color: #000;
}

.info {
  background-color: #17a2b8;
  color: #fff;
}


/**  mobile responsive  start**/

 @media screen and (max-width: 600px) {

  .mobile-responsive table {
    border: 0;
    border-collapse: collapse;
  }

 .mobile-responsive table thead {
    display:none;
  }
  .mobile-responsive table th {
    display:none;
  }
  
 .mobile-responsive table tr {
    margin-bottom: 20px;
    display: block;
    border-bottom: 2px thin #faf5f5;
    box-shadow: 2px 2px 1px #dadada;
    border-collapse: collapse;

  }



 .mobile-responsive table td {
    display: block;
    text-align: right;
    font-size: 15px;
    border-collapse: collapse;
    padding: 25px;
  }

 .mobile-responsive table td:last-child {
    border-bottom: 0;
  }

 .mobile-responsive table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    
  }
  
}


/*****  mobile responsive end ****/




.status-color-box
{
    width: 15px;
    height: 15px;
    /* border: 1px solid #ccc; */
    /* background-color: red; */
}


.list-group-item:hover {
  background: #ccc;
}

.table-freeze
{
  height: 100vh;
  overflow: auto;
}
.table-freeze th
{
  position: sticky;
  top: 0px;
  z-index: 2;
}


/* .table-freeze th:first-child,.table-freeze td:first-child
{
  position:sticky;
  left:0px;
  background-color:#fff;
} */
/* .table-freeze td.col-freeze:last-child
{
  background-color: red;
  border-right: 1px solid #000 !important;
} */

.table-freeze th.col-freeze
{
  z-index: 4 !important;
}

table th
{
  padding: 23px 10px !important;
  background: #1E283D !important;
  color: #fff !important;
  border: 1px solid #fff;
}

.checkbox-md,.radio-md {
  scale: 1.2;
  }
 


.checkbox-lg,.radio-lg {
  scale: 1.4;
  }
 
 
.checkbox-xl,.radio-xl {
  scale: 1.7;
  }
 
 
textarea.form-control {
    padding: 5px !important;
    line-height: normal !important;
}

.table th, .table td {
  /* white-space:break-spaces; */
  white-space: normal !important;
  line-height: normal !important;
    
}

.background-hover-none:hover:
{
  background: none;
}
